*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: grid;
    justify-content: center;
   background-color: #eff1a7;
}
nav{
    
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.card_content{
    display: grid;
    justify-content: center;
    align-items: center;
    

}
.card_position{
    width: 1050px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.card{
  
    width: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: #9999 solid 1px ;
    border-radius: 30px;
    box-shadow: #9999 10px 10px 10px;
    cursor: pointer;
}
.card:hover{
    background-color: #00000054;
}

.card img{
    width: 150px; 
    height: 150px;
    
}
.content{
    padding: 20px;
    text-transform: uppercase;
}
.pag{
    margin: 21px;
}
.pag button{
    width: 30px;
    height: 20px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  .card2 h1{
    text-transform: uppercase;
    padding: 20px;
  }
  .title {
    color: grey;
    font-size: 18px;
    padding: 20px;
    
  }
  
 .card2 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
 .card2 a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card2 button:hover, a:hover {
    opacity: 0.7;
  }

.modal{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    display: grid;
    justify-content: center;
    overflow: auto;
    background-color: rgb(0,0,0,);
    background-color: rgba(0, 0,0, 0.5);
} 
.card_modal{
    padding: 20px;
    margin: 20px;
}

.modal span{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.modal span:hover,
.modal span:focus {
    color: rgb(233, 52, 52);
    text-decoration: none;
    cursor: pointer;
}

footer{
    height: 150px;
    background-color: #e6a836;
    display: grid;
    justify-content: center;
    align-items: center;
}

