*{
    margin: 0;
    padding: 0;
    font-family: "Calibri";
}
header{
    background: url('../img/pizza_bg.jpg');
    background-position: center;
    background-size: cover;
     
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    color: #fff
}
nav h2{
    font-size: 40pt
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin: 20px;
}
nav ul li a{
    color: #fff;
    font-size: 14pt;
    text-decoration: none;
}
.banner{
    height: 30rem;
    display: flex;
    align-items: center;
    
}
.texto_banner{
    margin: 10rem 0 0 10rem;
    padding: 50px;
    
}
.texto_banner h2{
    font-size: 40pt;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff
}
.texto_banner button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: rgb(183,42,35);
    color: #fff;
    cursor: pointer;
}
.barra_book{
    background: rgb(183,42,35);
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem
}
.form_book{
    background: #fff;
    height: 100px;
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px
}

.form_book input{
    width: 250px;
    height: 30px;
    border:none;
    border-bottom:none;
     border-bottom: solid 1px #f9f9;
    margin:5px;
    color: rgb(189,188,184)
}
.inputes{   
display: grid;
color: rgb(183,42,35);
}
.inputes label{
    display: flex;
    align-items: center;
}
.inputes label i{
    margin: 0px 5px 0  0px
}
.inputes >label   {
   font-weight: bold
}
.form_book button{
    width: 250px;
    height: 50px;
    border:none;
    background: rgb(183,42,35);
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}
section{
    background: #EDECE7
}

.barra2{
    
    display: flex;
    justify-content: space-around;
    
}
.cards_barra{
    display: grid;
    margin-top: 5rem;
    width: 100%
}
.cards_titulo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40rem
}
.titulo_card{
    font-size: 20pt;
    color: rgb(183,42,35)
}
.card_tt{
    width: 250px;
    margin: 20px
}
.card_tt i{
    font-size: 50pt;
    color: rgb(183,42,35);
}
.card_tt h2{
    margin: 20px 0;
}
.card_tt p{
    color: #9B9B9B;
}
.barra3_bottom{
    display: grid;
    justify-content: center;
}
.cards_bttm{
    display: flex;
    justify-content: center;
    align-items: center
}
.card_scroll{
    width: 250px
}
.card_scroll h2{
    color: rgb(183,42,35);
    font-size: 25pt;
    margin: 20px 0;
}
.card_scroll p{
    color: #9B9B9B;
    margin: 20px 0;
}
.card_scroll i{
    font-size: 35pt;
    margin: 0 5px;
}
.cards_icones i:first-child{
    color: #9B9B9B;
}
.cards_bottom{
    margin: 40px;
    text-align: center;
    width: 250px
}
.cards_bottom h2{
    color: rgb(183,42,35);
    margin: 10px 0;
}
.cards_bottom p{
    color: #9B9B9B;
    margin: 20px 0;
}
.cards_bottom h3{
    color: rgb(183,42,35)
}
.scrool_text{
    display: grid;
    justify-content: end;
    border: solid 2px rgb(183,42,35);
            overflow: hidden;

}
.texto_scrool{
    font-size: 30pt;
    color: rgb(183,42,35);
    overflow: hidden;
}

@keyframes move {
 0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }/* Altere o valor conforme necessário */
}

.texto_scrool {
   white-space: nowrap;
      overflow: hidden;
      animation: move 5s linear infinite;
    
    /* Alinhe o texto para a esquerda, ajuste conforme necessário */
}

