 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    
   
}

header{
    margin: 0;
    padding: 20px;
    background: #f5f7fa;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h3{
    padding: 20px;
    color: #069;
}
nav ul {
   list-style: none;
}
nav ul li{
    display: inline;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #696d75;
}
section{
    display: grid;
    background: #f5f7fa;
    height: 60rem
    
}
.descritivo{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.titulo {
    margin: 35px;
    flex-basis: 1;
    
}
.titulo h2{
    font-size: 50pt;
}
.texto_descricao{
    padding-top: 30px;
    text-align: justify;
    color: #696d75;
}
article{
    display: grid;
    justify-content: center;
    background:#fff;

}
.setorcard{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 200px;
    height: 450px;
    background: #ffff;
    padding: 30px;
    margin: 20px;
    margin-top: -80px;
    text-align: center;
    box-shadow: 0px 1px 1px rgb(0,0,0,0.5);
    flex-grow: 1;
    flex-basis: 200;
}

.card h3{
    margin: 10px
}
.card ul{
    list-style: none;
    color: #696d75;
}
.card ul li{
    padding: 8px
}
.card span{
    font-size: 50pt;
}
.card1 span{
    color: darkgreen;
}
.card2 span{
    color: #ffcc4a;
}
.card3 span{
    color: #b0070d;
}
.card4 span{
    color: #5ed1ff;
}



/* Style the tab */
aside{
    display: flex;
    justify-content: center;
}
.casodeuso{
    height: 30rem ;
    width: 70%;
    display: block;
    justify-content: center;
    
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.texto_tab{
    background-color: red;
    height: 20rem;
}


