* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(50, 36, 45);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(133, 39, 43)), to(rgb(50, 36, 45)));
    background-image: linear-gradient(to bottom, rgb(133, 39, 43), rgb(50, 36, 45));
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grelha {
    background-color: rgb(50, 36, 45);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(133, 39, 43)), to(rgb(50, 36, 45)));
    background-image: linear-gradient(to bottom, rgb(133, 39, 43), rgb(50, 36, 45));
    display: grid;
    justify-content: center;
    align-items: center;
}

.reprodutor {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 450px;
    height: 350px;

}
/* .media {
    background-color: rgb(227, 95, 28);
    background-image: radial-gradient(rgb(229, 105, 13), rgb(224, 71, 61));
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
 */

.detalhes {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    aspect-ratio: 2/2; 
}
/*Continuar amanhã*/

.detalhes h3 {
    color: rgb(131, 42, 83);
    padding: 5px;
    font-size: 11pt;
    font-weight: bold;
}

.media > img {
    position: relative;
    width: 100%;
    height: 350px;
   
    mix-blend-mode: color-burn;
    transition: 0.5s;
    aspect-ratio: 2/2; 
    object-fit:contain;
}

.somgif{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detalhes img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 40px;
}

.playlist {
    display: flex;
    justify-content:start;
    background-color: red;
}
/* 
.lista {
    display: none;
    background: rgba(131, 42, 83, 0.5);
    transition: 0.5s;
    
} */

.lista1 {
    opacity: 100%;
    display: grid;
    align-items: center;
    overflow-y: scroll;
    background: rgba(131, 42, 83, 0.5);
    width: 200px;
    height:350px;
    position: absolute;
    transition: 0.5s;
}

.lista1 p {
    font-size: 9pt;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 2px;
    border-bottom: #29299921 solid 1px;
}
.lista1 p:hover {
    color: #292929;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
   
}
.texto {
    color: #fff;
    font-size: 9pt;
    margin: 10px;
}   

.contador {
    margin: 10px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.range {
    margin: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: #fff;
    height: 5px;

}

.range::before {
    content: " ";
    background-color: rgb(179, 90, 90);
    width: 10%;
    height: 5px;
    position: absolute;
    border-radius: 50px;
}

.btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn {
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    margin: 10px;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(131, 42, 83);
}

.play {
    height: 80px;
    width: 80px;
    background-color: rgb(242, 48, 79);
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    position: absolute;
    z-index: 1
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 7px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }